        <%- include('header') %>
        
        <div class="lista">    
            <div class="titulo">
                <h2>
                    Editar Categoria:    
                </h2>
            </div>
            <div>
                <form method="post">
                    <label>Titulo da Categoria: </label>
                    <input type="text" name="categoria" value="<%= categorias.categoria %>">
                    <br/>
                        
                    <br/><br/>
                    <div>
                        <button>Salvar Categoria</button>
                        <a href="/admin/categorias">Vagas</a>
                    </div>
                    <br/><br/>
                </form>           
            </div>

        <%- include('footer') %>