        <%- include('header') %>
        <div class="lista">    
                <div class="titulo">
                        <h2><%- vaga.titulo %></h2>
                </div>

                <br/><br/><br/>
        
                <div>        
                        <%- vaga.descricao %>
                </div>

                <br/><br/><br/><br/>
       

<%- include('footer') %>